.myresult{
    .am-result{
        // height: 500px;
        img{
            margin-top: 50px;
            width: 60px;
            height: 60px;
        }
        .am-result-title{
            margin-top: 80px;
        }
    }
}