.choiseTab {
    height: 610px;
    margin-bottom: -60px !important;
    // background-color:cornsilk ;

    .am-tabs-tab-bar-wrap{
        width: 100px;
        text-align: center;
    }
        .zhengwen {          
            font-size: 17px;
            color:black;
            margin: 30px 10px 0 20px;
            line-height: 1.7em;
            font-family:微软雅黑;
            text-indent:2em;
        }
    

}
